[submodule "src/lib/pybind11"]
	path = src/lib/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "src/lib/opennurbs"]
	path = src/lib/opennurbs
	url = https://github.com/mcneel/opennurbs.git
