# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode

/.vs
*.vcxproj.user
/python/wheels_for_pypi
/python/build_py*_32bit
/python/build_py*_64bit
/javascript/artifacts
/javascript/build
/python/docs/_build
/python/docs/api
/src/build_py37_32bit
/src/wheels_for_pypi
/src/build_py27_32bit
/src/build_py27_64bit
/src/build_py37_64bit
/src/build
/src/dist
/src/rhino3dm.egg-info
/build
/dist
/.idea
/tests/example_3dm_files_20181010
/docbuilders/docgen/bin
/docbuilders/docgen/obj
/docbuilders/docgen/packages
/docbuilders/docgen/.vs
/docbuilders/docgen/out
/docbuilders/docgen/_build
/src/dotnet/Debug
/src/dotnet/.vs
/src/dotnet/obj
/src/methodgen/bin
/src/methodgen/obj
/src/methodgen/methodgen.csproj.user
/src/dotnet/AutoNativeEnums.cs
/src/dotnet/AutoNativeMethods.cs
/src/dotnet/Release
/src/.mypy_cache
