name: workflow wip release android
on: [push, workflow_dispatch]
jobs:

  build_dotnet_android:
    name: build dotnet android
    runs-on: macos-latest
    steps:
      - name: setup cmake
        uses: jwlawson/actions-setup-cmake@v1.9
        with:
          cmake-version: '3.16.2'
      - name: setup android ndk
        uses: maxim-lobanov/setup-android-tools@v1
        with:
          packages: ndk;21.0.6113669
          cache: true
      - name: Check file existence
        id: check_files
        uses: andstor/file-existence-action@v1
        with:
          files: "/Users/runner/Library/Android/sdk/ndk/android-ndk-r21/build/cmake/android.toolchain.cmake"
      - name: File exists
        if: steps.check_files.outputs.files_exists == 'true'
        # Only runs if all of the files exists
        run: echo All files exists!
      - name: info
        run: python3 --version && cmake --version
      - name: checkout
        uses: actions/checkout@v2
      - name: update submodules
        run: git submodule update --init
      - name: bootstrap
        run: python3 script/bootstrap.py -p android
      - name: setup
        run: python3 script/setup.py -p android -v
      - name: build dotnet android
        run: python3 script/build.py -p android -v
      - name: artifacts
        uses: actions/upload-artifact@v2
        with:
          path: src/build/android/dotnet/Rhino3dm.Android.dll
          name: rhino3dm.net android